@model Product




<div class="my-5">

    <form enctype="multipart/form-data" asp-action="Add" asp-controller="Product" method="post">
        <div class="form-row">
            <div class="form-group col-12">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <label asp-for="Name"></label>
                <input type="number" class="form-control" asp-for="Price" />
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
        </div>



        <div class="form-row">
            <div class="form-group col-12">
                <label asp-for="InStock"></label>

                <select class="form-control custom-select" asp-for="InStock" asp-items="Html.GetEnumSelectList<InStock>()">
                    <option value="">Is the product in stock :</option>

                </select>

                <span asp-validation-for="InStock" class="small text-danger"></span>

            </div>
        </div>



        <div class="form-row">
            <div class="form-group col-12">
                <button class="btn btn-dark" type="submit">Submit</button>
            </div>
        </div>

    </form>

</div>
